openapi: 3.0.0
info:
  title: Dreep API
  description: The universal media processing and storage API.
  version: 1.0.0
servers:
  - url: https://api.dreep.cloud
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: boolean
          example: true
        message:
          type: string
          example: "Invalid request parameters"
        code:
          type: string
          example: "invalid_request"
security:
  - ApiKeyAuth: []
paths:
  /api/v1/upload:
    post:
      summary: Upload Media
      description: >
        Upload a media file. You can optionally apply an initial transform to
        images by passing any of the transform fields below as separate
        multipart fields (not a JSON blob) — the same parameters accepted by
        [Fetch Media](/api-reference/media/fetch-media). When any are present,
        the transformed result — not the original upload — is what gets
        stored and returned, and it counts as a transformation against your
        plan's monthly transform usage.


        **Supported File Types**:
        - **Images**: JPEG, PNG, WEBP, GIF, SVG, AVIF, TIFF
        - **Videos**: MP4, WEBM, MOV, AVI
        - **Documents**: PDF
        - **Audio**: MP3, WAV, OGG, AAC

        **Max File Size**: 100MB
      tags:
        - Upload
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The media file to upload.
                folderId:
                  type: string
                  description: The ID of the folder to upload the file into. Optional — defaults to the project's default folder when omitted.
                  example: "fol_987654321"
                format:
                  type: string
                  enum: [jpeg, png, webp, avif, gif, tiff]
                  description: Re-encode the image to this format before storing.
                  example: "webp"
                width:
                  type: integer
                  description: Resize to this width in pixels (max 4000).
                  example: 1200
                height:
                  type: integer
                  description: Resize to this height in pixels (max 4000).
                fit:
                  type: string
                  enum: [cover, contain, fill, inside, outside]
                  description: How the image should fit `width`/`height`.
                quality:
                  type: integer
                  description: Output quality, 1-100.
                gravity:
                  type: string
                  enum: [north, northeast, east, southeast, south, southwest, west, northwest, center, attention, entropy]
                  description: Crop anchor point when resizing.
                dpr:
                  type: number
                  description: Device pixel ratio multiplier (max 3).
                rotate:
                  type: integer
                  enum: [90, 180, 270]
                  description: Rotate by this many degrees clockwise.
                bg:
                  type: string
                  description: Hex color (without `#`) used to pad/fill, e.g. `ffffff`.
                radius:
                  type: string
                  description: Corner radius in pixels, or `max` for a full circle/pill.
                p:
                  type: string
                  description: A saved transform preset key to apply instead of individual fields.
              required:
                - file
      responses:
        '200':
          description: Media uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "med_123456789"
                  url:
                    type: string
                    example: "https://cdn.dreep.cloud/med_123456789/hero.jpg"
                  originalFilename:
                    type: string
                    example: "hero.jpg"
                  mimetype:
                    type: string
                    example: "image/webp"
                  format:
                    type: string
                    description: Only present for images.
                    example: "webp"
                  sizeBytes:
                    type: integer
                    example: 245000
                  width:
                    type: integer
                    description: Only present for images.
                    example: 1200
                  height:
                    type: integer
                    description: Only present for images.
                  status:
                    type: string
                    example: "ready"
                  folderId:
                    type: string
                  projectId:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Plan's transformation limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/fetch/{mediaId}:
    get:
      summary: Fetch Media
      description: >
        Get an asset by ID, applying optional transforms on the fly via query parameters.


        This endpoint is public (no API key needed) — how much of that matters
        depends on the access control of the folder the asset lives in:
        - **public** folders: fetchable by anyone with the URL.
        - **private** folders: not fetchable through this endpoint at all. Private
          assets can only be viewed by an authenticated project member from the
          Dreep dashboard.
        - **signed** folders: not fetchable with a bare URL, but a time-limited
          link (with `exp` and `sig` query parameters already attached) can be
          generated from the Dreep dashboard and shared — anyone with that link
          can fetch the asset until it expires. There's no way to generate `exp`/`sig`
          yourself; only use links produced by the dashboard.

        A request for a private or signed asset without valid credentials returns `401`.
      tags:
        - Media
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
          example: "med_123456789"
        - name: transforms
          in: query
          description: JSON encoded string or preset ID to apply transforms before fetching.
          schema:
            type: string
          example: '{"width": 800, "height": 600, "crop": "fill"}'
        - name: exp
          in: query
          description: >
            Unix timestamp (seconds) a signed link expires at. Only present on links
            generated for `signed` folders from the Dreep dashboard — omit for public assets.
          schema:
            type: integer
          example: 1753999999
        - name: sig
          in: query
          description: >
            Signature authorizing the request until `exp`. Only present on links
            generated for `signed` folders from the Dreep dashboard.
          schema:
            type: string
          example: "3f2a9c1bd4e7f6a08c5b91d2e3f4a5b6c7d8e9f0a1b2c3d4e5f6a7b8c9d0e91d"
      responses:
        '200':
          description: Media binary content
          content:
            image/*:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/media:
    get:
      summary: List Media Assets
      tags:
        - Media
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: A list of media assets
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    filename:
                      type: string
                    url:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/media/{mediaId}:
    delete:
      summary: Delete Media Asset
      tags:
        - Media
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/folders:
    get:
      summary: List Folders
      tags:
        - Folders
      responses:
        '200':
          description: A list of folders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Create Folder
      description: >
        Create a folder to organize uploads. `accessControlType` controls who
        can view assets inside it once uploaded:
        - **public** (default): fetchable by anyone via `/api/v1/fetch/{mediaId}`.
        - **private**: only viewable by an authenticated project member from
          the Dreep dashboard — never fetchable through the public API.
        - **signed**: not fetchable with a bare URL, but a time-limited link
          can be generated from the Dreep dashboard and shared with anyone,
          no API key required to use it. See [Fetch Media](/api-reference/media/fetch-media)
          for how signed links work.
      tags:
        - Folders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Marketing Assets"
                parentId:
                  type: string
                  example: "fol_987654321"
                accessControlType:
                  type: string
                  enum: [public, private, signed]
                  default: public
                  example: "signed"
              required:
                - name
      responses:
        '200':
          description: Folder created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/presets:
    get:
      summary: List Presets
      tags:
        - Presets
      responses:
        '200':
          description: A list of transform presets
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Create Preset
      tags:
        - Presets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Thumbnail Generation"
                operations:
                  type: array
                  items:
                    type: object
                  example: [{"action": "resize", "width": 200, "height": 200}]
              required:
                - name
                - operations
      responses:
        '200':
          description: Preset created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/presets/{id}:
    delete:
      summary: Delete Preset
      tags:
        - Presets
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Preset deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
