openapi: 3.0.0
info:
  title: Dreep API
  description: The universal media processing and storage API.
  version: 1.0.0
servers:
  - url: https://api.dreep.cloud
    description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    PaymentRequired:
      description: A plan limit for this feature has been reached
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Error:
      type: object
      properties:
        error:
          type: boolean
          example: true
        message:
          type: string
          example: "Invalid request parameters"
        code:
          type: string
          example: "invalid_request"
security:
  - ApiKeyAuth: []
paths:
  /api/v1/upload:
    post:
      summary: Upload Media
      x-codeSamples:
        - lang: curl
          label: Image Upload (Resize)
          source: |
            curl --request POST \
              --url https://api.dreep.cloud/api/v1/upload \
              --header 'Authorization: Bearer <API_KEY>' \
              --header 'Content-Type: multipart/form-data' \
              --form file='@/path/to/image.jpg' \
              --form width=800 \
              --form format=webp
        - lang: curl
          label: Video Upload (Trim)
          source: |
            curl --request POST \
              --url https://api.dreep.cloud/api/v1/upload \
              --header 'Authorization: Bearer <API_KEY>' \
              --header 'Content-Type: multipart/form-data' \
              --form file='@/path/to/video.mp4' \
              --form trimStart=10.5 \
              --form trimEnd=20 \
              --form videoCodec=h264
        - lang: curl
          label: Basic File Upload
          source: |
            curl --request POST \
              --url https://api.dreep.cloud/api/v1/upload \
              --header 'Authorization: Bearer <API_KEY>' \
              --header 'Content-Type: multipart/form-data' \
              --form file='@/path/to/file.pdf'
      description: >
        Upload a media file. You can optionally apply an initial transform to
        images by passing any of the transform fields below as separate
        multipart fields (not a JSON blob) — the same parameters accepted by
        [Fetch Media](/api-reference/media/fetch-media). When any are present,
        the transformed result — not the original upload — is what gets
        stored and returned, and it counts as a transformation against your
        plan's monthly transform usage.


        **Supported File Types**:
        - **Images** (Sharp Pipeline): JPEG, PNG, WEBP, GIF, TIFF, BMP, HEIC, HEIF, SVG
        - **Videos** (FFmpeg Pipeline): MP4, MOV, WEBM
        - **Raw Files** (Stored As-Is): PDF, DOC, DOCX, XLS, XLSX, PPT, PPTX, ZIP, CSV, TXT, JSON

        **Max File Size**: 500MB

        **Format Conversion Rules**:
        Format conversion via `format` allows you to convert FROM any supported image format (including HEIC, HEIF, and SVG) TO any standard web format (like JPEG, PNG, WEBP). Conversion stays strictly within media families (Image → Image, Video → Video/HLS/GIF). Raw files cannot be format-transformed.
      tags:
        - Upload
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The media file to upload.
                folder:
                  type: string
                  description: >
                    Slug path of the destination folder, relative to the project
                    root. Missing folders are created automatically, at any
                    depth. Segments are normalized to slugs, so
                    `Marketing Assets/2024` and `marketing-assets/2024` are the
                    same folder. Max 10 levels deep.
                  example: "avatars/2024/q1"
                key:
                  type: string
                  description: >
                    Full S3-style object key. Everything before the last `/` is
                    the folder path (created if missing); the last segment
                    becomes the stored filename. Mutually exclusive with
                    `folder`.
                  example: "avatars/2024/q1/me.webp"
                folderId:
                  type: string
                  format: uuid
                  description: >
                    UUID of an existing folder to upload into. Mutually
                    exclusive with `folder` and with a `key` that carries a
                    folder prefix. Omitting all three uploads into the
                    project's default folder.
                  example: "78b52933-5541-4e90-8c15-39a84a412da8"
                autoCreateFolders:
                  type: string
                  enum: ["true", "false"]
                  default: "true"
                  description: >
                    Set to `false` to require that the folder path already
                    exists. An unknown path then returns 404 instead of
                    creating the folders.
                format:
                  type: string
                  enum:
                    [
                      jpeg,
                      png,
                      webp,
                      avif,
                      gif,
                      tiff,
                      mp4,
                      webm,
                      mov,
                      hls,
                      m3u8,
                    ]
                  description: "[Image/Video] Re-encode the file to this format before storing."
                width:
                  type: integer
                  description: "[Image/Video] Resize to this width in pixels."
                height:
                  type: integer
                  description: "[Image/Video] Resize to this height in pixels."
                fit:
                  type: string
                  enum: [cover, contain, fill, inside, outside]
                  description: "[Image/Video] How the media should fit `width`/`height`."
                crop:
                  type: object
                  description: "[Image] Explicitly crop the image using left, top, width, and height coordinates."
                  properties:
                    left:
                      type: integer
                    top:
                      type: integer
                    width:
                      type: integer
                    height:
                      type: integer
                quality:
                  type: integer
                  description: "[Image/Video] Output quality (1-100)."
                fps:
                  type: integer
                  description: "[Video Only] Output frame rate for video files (e.g. 24, 30, 60)."
                videoCodec:
                  type: string
                  enum: [libx264, libvpx-vp9, h264, hevc]
                  description: "[Video Only] Video encoding codec."
                trimStart:
                  type: number
                  description: "[Video Only] Trim start timestamp in seconds."
                trimEnd:
                  type: number
                  description: "[Video Only] Trim end timestamp in seconds."
                gravity:
                  type: string
                  enum:
                    [
                      north,
                      northeast,
                      east,
                      southeast,
                      south,
                      southwest,
                      west,
                      northwest,
                      center,
                      attention,
                      entropy,
                    ]
                  description: "[Image Only] Crop anchor point when resizing images."
                dpr:
                  type: number
                  description: "[Image Only] Device pixel ratio multiplier (max 3)."
                rotate:
                  type: integer
                  enum: [90, 180, 270]
                  description: "[Image Only] Rotate by this many degrees clockwise."
                bg:
                  type: string
                  description: "[Image Only] Hex color (without `#`) used to pad/fill, e.g. `ffffff`."
                radius:
                  type: string
                  description: "[Image Only] Corner radius in pixels, or `max` for a full circle/pill."
                p:
                  type: string
                  description: "[Image/Video] A saved transform preset key to apply instead of individual fields."
              required:
                - file
      responses:
        "200":
          description: Media uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "med_123456789"
                  url:
                    type: string
                    example: "https://cdn.dreep.cloud/med_123456789/hero.jpg"
                  originalFilename:
                    type: string
                    example: "hero.jpg"
                  mimetype:
                    type: string
                    example: "image/webp"
                  format:
                    type: string
                    description: Only present for images.
                    example: "webp"
                  sizeBytes:
                    type: integer
                    example: 245000
                  width:
                    type: integer
                    description: Only present for images.
                    example: 1200
                  height:
                    type: integer
                    description: Only present for images.
                  status:
                    type: string
                    example: "ready"
                  folderId:
                    type: string
                  projectId:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Plan's transformation limit reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/upload/presign:
    post:
      summary: Create Presigned Upload
      description: >
        Start a direct-to-storage upload. Dreep returns a short-lived
        `uploadUrl`; `PUT` the file bytes straight to it, then call
        [Confirm Upload](/api-reference/upload/confirm-upload) with the returned
        `id` to finalize the asset.


        Use this instead of [Upload Media](/api-reference/upload/upload-media)
        for large files or browser uploads — the bytes never pass through the
        Dreep API. The destination folder is resolved exactly as it is for a
        direct upload, including creating missing folders from a `folder` path
        or `key`.


        If `contentHash` matches an asset Dreep already stores, the response
        comes back with `alreadyExists: true` and no `uploadUrl` — skip the
        `PUT` and go straight to confirm.
      tags:
        - Upload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filename:
                  type: string
                  description: >
                    Name to store the file under. Optional when `key` is given,
                    since the key's last segment supplies it.
                  example: "me.webp"
                contentType:
                  type: string
                  example: "image/webp"
                sizeBytes:
                  type: integer
                  example: 438720
                folder:
                  type: string
                  description: Slug path of the destination folder. Missing folders are created.
                  example: "avatars/2024"
                key:
                  type: string
                  description: Full S3-style object key (folder path + filename).
                  example: "avatars/2024/me.webp"
                folderId:
                  type: string
                  format: uuid
                  description: UUID of an existing destination folder.
                autoCreateFolders:
                  type: string
                  enum: ["true", "false"]
                  default: "true"
                format:
                  type: string
                  description: Target format to re-encode to on confirm.
                presetKey:
                  type: string
                contentHash:
                  type: string
                  description: SHA-256 of the file, used to skip re-uploading content Dreep already has.
              required:
                - contentType
                - sizeBytes
      responses:
        "201":
          description: Presigned upload created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: Pass this to the confirm endpoint.
                  uploadUrl:
                    type: string
                    description: Short-lived URL to PUT the file bytes to. Absent when `alreadyExists` is true.
                  contentType:
                    type: string
                  alreadyExists:
                    type: boolean
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/upload/{id}/confirm:
    post:
      summary: Confirm Upload
      description: >
        Finalize a presigned upload once the bytes have been PUT to storage.
        Dreep verifies the object exists, reads its metadata, applies any
        transform, and flips the asset to `ready`. Until this is called the
        asset stays `pending` and is excluded from media listings.
      tags:
        - Upload
      parameters:
        - name: id
          in: path
          required: true
          description: The `id` returned by the presign call.
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                transform:
                  type: object
                  description: Transform to apply before storing, same parameters as Upload Media.
                presetKey:
                  type: string
      responses:
        "200":
          description: Upload confirmed
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Upload not found
        "409":
          description: The file hasn't finished uploading to storage yet
  /api/v1/ocr:
    post:
      summary: Upload & Extract Text
      description: >
        Upload an image or PDF document and instantly extract its text using Optical Character Recognition (OCR).
        If a destination folder is given (via `folder` or `folderId`), the extracted text is also saved to your
        Dreep storage as a `.txt` file in that folder. With no folder, the text is returned in the response only.
      tags:
        - Media
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to extract text from (Image or PDF).
                folder:
                  type: string
                  description: >
                    Slug path of the folder to save the extracted text into,
                    relative to the project root. Missing folders are created.
                  example: "receipts/2024"
                folderId:
                  type: string
                  format: uuid
                  description: >
                    UUID of an existing folder to save the extracted text into.
                    Mutually exclusive with `folder`.
                autoCreateFolders:
                  type: string
                  enum: ["true", "false"]
                  default: "true"
                  description: Set to `false` to require that `folder` already exists.
      responses:
        "200":
          description: Extraction successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                    description: The fully concatenated plain text.
                  blocks:
                    type: array
                    description: Raw AWS Textract block objects (lines, words) with bounding boxes.
                    items:
                      type: object
                  savedAsset:
                    type: object
                    nullable: true
                    description: Details of the saved text file, if `folderId` was provided.
                    properties:
                      id:
                        type: string
                      storageKey:
                        type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/fetch/{mediaId}:
    get:
      summary: Fetch Media
      description: >
        Get an asset by ID, applying optional transforms on the fly via query parameters.


        This endpoint is public (no API key needed) — how much of that matters
        depends on the access control of the folder the asset lives in:
        - **public** folders: fetchable by anyone with the URL.
        - **private** folders: not fetchable through this endpoint at all. Private
          assets can only be viewed by an authenticated project member from the
          Dreep dashboard.
        - **signed** folders: not fetchable with a bare URL, but accessible via temporary time-limited URLs generated using your project's URL Signing Secret (with `exp` and `sig` HMAC-SHA256 query parameters).

        A request for a private or signed asset without valid credentials returns `401`.
      tags:
        - Media
      parameters:
        - name: mediaId
          in: path
          required: true
          description: Media asset ID (e.g. `2f928a3f-1d2a-4a2b`) or ID with extension (`2f928a3f.jpg`).
          schema:
            type: string
          example: "med_123456789"
        - name: format
          in: query
          description: "Target output format (image: `jpeg`, `jpg`, `png`, `webp`, `avif`, `tiff`, `gif`, `heic`, `heif`, `svg+xml`; video: `mp4`, `webm`, `mov`, `hls`, `m3u8`, `gif`; audio: `mp3`, `wav`, `aac`; text extraction: `txt`). Requesting an image format on a video asset extracts a thumbnail. Requesting `txt` on an image or PDF asset runs Optical Character Recognition (OCR) to extract plain text."
          schema:
            type: string
        - name: width
          in: query
          description: Target width in pixels (max 4000).
          schema:
            type: integer
            maximum: 4000
        - name: height
          in: query
          description: Target height in pixels (max 4000).
          schema:
            type: integer
            maximum: 4000
        - name: fit
          in: query
          description: Scaling fit (`cover`, `contain`, `fill`, `inside`, `outside`).
          schema:
            type: string
            enum: [cover, contain, fill, inside, outside]
        - name: crop
          in: query
          description: Explicitly crop the image using a comma-separated string `left,top,width,height` (e.g. `10,20,100,100`).
          schema:
            type: string
        - name: quality
          in: query
          description: Quality (1-100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: fps
          in: query
          description: Video frame rate (1-120).
          schema:
            type: integer
            minimum: 1
            maximum: 120
        - name: trimStart
          in: query
          description: Video trim start in seconds.
          schema:
            type: number
            minimum: 0
        - name: trimEnd
          in: query
          description: Video trim end in seconds.
          schema:
            type: number
            minimum: 0
        - name: time
          in: query
          description: Specific timestamp in seconds for pulling a snapshot or thumbnail.
          schema:
            type: number
            minimum: 0
        - name: p
          in: query
          description: Transform preset key to apply.
          schema:
            type: string
        - name: exp
          in: query
          description: Unix timestamp (seconds) when signed URL expires. Required for signed folders.
          schema:
            type: integer
          example: 1774118400
        - name: sig
          in: query
          description: HMAC-SHA256 signature calculated over `assetId:expires` using your project's URL Signing Secret. Required for signed folders.
          schema:
            type: string
          example: "a3f9e2b1c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1"
      responses:
        "200":
          description: Media binary content
          content:
            image/*:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/fetch/{mediaId}.txt:
    get:
      summary: Extract Text (OCR)
      description: >
        Extract text from an uploaded image or PDF document instantly using Optical Character Recognition (OCR).

        This is a convenience alias for `GET /api/v1/fetch/{mediaId}?format=txt`. The extracted text is cached in your storage bucket, making subsequent reads lightning fast and free.
      tags:
        - Media
      parameters:
        - name: mediaId
          in: path
          required: true
          description: Media asset ID (e.g. `2f928a3f-1d2a-4a2b`).
          schema:
            type: string
          example: "med_123456789"
        - name: exp
          in: query
          description: Unix timestamp (seconds) when signed URL expires. Required for signed folders.
          schema:
            type: integer
          example: 1774118400
        - name: sig
          in: query
          description: HMAC-SHA256 signature calculated over `assetId:expires` using your project's URL Signing Secret. Required for signed folders.
          schema:
            type: string
          example: "a3f9e2b1c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1"
      responses:
        "200":
          description: Extracted text
          content:
            text/plain:
              schema:
                type: string
                example: "Invoice #1234\nTotal: $50.00"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/media:
    get:
      summary: List Media Assets
      tags:
        - Media
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: folder
          in: query
          description: >
            Only list assets in this folder path (relative to the project
            root). The path must already exist. Mutually exclusive with
            `folderId`.
          schema:
            type: string
            example: "avatars/2024"
        - name: folderId
          in: query
          description: UUID of the folder to list. Mutually exclusive with `folder`.
          schema:
            type: string
            format: uuid
        - name: recursive
          in: query
          description: >
            With `folder` or `folderId`, also include assets in every subfolder
            beneath it. Ignored when no folder filter is given.
          schema:
            type: string
            enum: ["true", "false"]
            default: "false"
      responses:
        "200":
          description: A list of media assets
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    filename:
                      type: string
                    url:
                      type: string
                    folder:
                      type: string
                      description: Slug path of the folder the asset lives in.
                      example: "avatars/2024/q1"
                    folderId:
                      type: string
                      format: uuid
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/media/{mediaId}:
    delete:
      summary: Delete Media Asset
      tags:
        - Media
      parameters:
        - name: mediaId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Asset deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/folders:
    get:
      summary: List Folders
      description: >
        Lists folders. With no parameters this returns every folder in the
        project, at any depth — each one carrying its full `path`, so you can
        build the whole tree from a single call. Pass `path` to list the direct
        children of one folder, or `parentId=null` for root folders only.
      tags:
        - Folders
      parameters:
        - name: path
          in: query
          description: >
            List the children of this folder path (relative to the project
            root). An unknown path returns an empty list.
          schema:
            type: string
            example: "avatars/2024"
        - name: parentId
          in: query
          description: >
            List the children of this folder UUID. Pass the literal `null` to
            list root folders explicitly.
          schema:
            type: string
      responses:
        "200":
          description: A list of folders
          content:
            application/json:
              schema:
                type: object
                properties:
                  folders:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        slug:
                          type: string
                        path:
                          type: string
                          description: Slug path from the project root.
                          example: "avatars/2024/q1"
                        parentId:
                          type: string
                          format: uuid
                          nullable: true
                        accessControlType:
                          type: string
                          enum: [public, private, signed]
                  currentFolder:
                    type: object
                    nullable: true
                    description: The folder named by `path`/`parentId`, if any.
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Create Folder
      description: >
        Create a folder to organize uploads. Pass `name` to create a single
        folder, or `path` to create a whole nested chain (`2024/q1/launch`) in
        one call — only the missing segments are created, and the leaf is
        returned.


        Note that uploads create folders on demand too, so calling this first
        is only necessary when you want to set `accessControlType` or
        `defaultExpirySeconds` up front.


        `accessControlType` controls who can view assets inside the folder once
        uploaded, and is inherited by any subfolder created beneath it:
        - **public** (default): fetchable by anyone via `/api/v1/fetch/{mediaId}`.
        - **private**: only viewable by an authenticated project member from
          the Dreep dashboard — never fetchable through the public API.
        - **signed**: not fetchable with a bare URL, but a time-limited link
          can be generated from the Dreep dashboard and shared with anyone,
          no API key required to use it. See [Fetch Media](/api-reference/media/fetch-media)
          for how signed links work.
      tags:
        - Folders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: >
                    Name of a single folder to create. Mutually exclusive with
                    `path`.
                  example: "Marketing Assets"
                path:
                  type: string
                  description: >
                    Slug path to create, relative to the project root. Creates
                    every missing segment and returns the leaf. Cannot be
                    combined with `parentId`/`parentPath`, which would make the
                    destination ambiguous.
                  example: "2024/q1/launch"
                parentId:
                  type: string
                  format: uuid
                  description: >
                    UUID of the parent folder to create `name` under. Mutually
                    exclusive with `parentPath`.
                  example: "78b52933-5541-4e90-8c15-39a84a412da8"
                parentPath:
                  type: string
                  description: >
                    Path of an existing parent folder to create `name` under.
                    Must already exist. Mutually exclusive with `parentId`.
                  example: "avatars/2024"
                accessControlType:
                  type: string
                  enum: [public, private, signed]
                  default: public
                  example: "signed"
                defaultExpirySeconds:
                  type: integer
                  description: Default URL expiration in seconds for assets uploaded into signed folders.
                  example: 3600
              anyOf:
                - required: [name]
                - required: [path]
      responses:
        "200":
          description: Folder created
          content:
            application/json:
              schema:
                type: object
                properties:
                  path:
                    type: string
                    description: Slug path of the created folder from the project root.
                    example: "2024/q1/launch"
                  id:
                    type: string
                  name:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/presets:
    get:
      summary: List Presets
      tags:
        - Presets
      responses:
        "200":
          description: A list of transform presets
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Create Preset
      tags:
        - Presets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Thumbnail Generation"
                operations:
                  type: array
                  items:
                    type: object
                  example: [{ "action": "resize", "width": 200, "height": 200 }]
              required:
                - name
                - operations
      responses:
        "200":
          description: Preset created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/presets/{id}:
    delete:
      summary: Delete Preset
      tags:
        - Presets
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Preset deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/usage:
    get:
      summary: Get Usage Limits
      description: Returns your current billing cycle usage for storage, folders, presets, and transformations.
      tags:
        - Usage & Billing
      responses:
        "200":
          description: Usage limits retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  limits:
                    type: object
                    properties:
                      storageBytes:
                        type: integer
                      folders:
                        type: integer
                      presets:
                        type: integer
                      transformations:
                        type: integer
                  usage:
                    type: object
                    properties:
                      storageBytes:
                        type: integer
                      folders:
                        type: integer
                      presets:
                        type: integer
                      transformations:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
